./review_phase
./skill_phase/block_3
./preresumption/math_geometric_cheatsheet.pdf
.aims_assignment_template
./skill_phase/block_1/ICL/bash/day2_nc
./skill_phase/block_1/ICL/bash/*_ICL1
./skill_phase/block_1/ICL/R/Assignment2.Rmd
./skill_phase/block_1/ICL/R/Intro_R.*
./skill_phase/block_1/ICL/R/*_ICL2.*
./skill_phase/block_1/ICL/R/R.Rproj
./skill_phase/block_1/ICL/R/R_day1.R
./skill_phase/block_1/MPS/week1/*_MPS1
./skill_phase/block_1/MPS/week1/wythoff*
./skill_phase/block_1/MPS/week1/win_pos_against
./skill_phase/block_1/MPS/week2/*_MPS2
./skill_phase/block_1/MPS/week3/
./skill_phase/block_2/PPS/text/
